/* Layout Properties */

top: 320px;
left: 1765px;
width: 64px;
height: 21px;
/* UI Properties */
text-align: center;
font: normal normal normal 18px/8px Proxima Nova;
letter-spacing: 0px;
color: #FFFFFF;
opacity: 1;
