<html>
<head>
    {% load static %}
    <title>Personality Insights</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
  <script src="https://d3js.org/d3.v3.min.js"></script>
    <link rel="stylesheet" type="text/css"
  href="http://netdna.bootstrapcdn.com/twitter-bootstrap/2.3.0/css/bootstrap-combined.min.css">
<!--    <script src="RadarChart.js"></script>-->
    <script type='text/javascript'>
        $(function(){
            $("a.pop-me-over").on("click", function (e) {
                e.preventDefault();
                return true;
            });
            $(".pop-me-over").popover();
        });
        $('html').on('click', function(e) {
          if (typeof $(e.target).data('original-title') == 'undefined' &&
             !$(e.target).parents().is('.popover.in')) {
            $('[data-original-title]').popover('hide');
          }
        });
    </script>
    <style>
        .popover{
            max-width: 100%;
            height: 500px;
            white-space: pre;
            overflow-y: auto;
            overflow-y: auto;
        }
    </style>

    <script>
        var RadarChart = {
  draw: function(id, d){
  d = d.replace(/'/g, '"')
  d = JSON.parse(d)
  var cfg = {
	 radius: 5,
	 w: 500,
	 h: 500,
	 factor: 1,
	 factorLegend: .85,
	 levels: 6,
	 maxValue: .6,
	 radians: 2 * Math.PI,
	 opacityArea: 0.5,
	 ToRight: 5,
	 TranslateX: 80,
	 TranslateY: 30,
	 ExtraWidthX: 300,
	 ExtraWidthY: 100,
	 color: d3.scale.category10()
	};

//	if('undefined' !== typeof options){
//	  for(var i in options){
//		if('undefined' !== typeof options[i]){
//		  cfg[i] = options[i];
//		}
//	  }
//	}
	cfg.maxValue = Math.max(cfg.maxValue, d3.max(d, function(i){return d3.max(i.map(function(o){return o.value;}))}));
	var allAxis = (d[0].map(function(i, j){return i.axis}));
	var total = allAxis.length;
	var radius = cfg.factor*Math.min(cfg.w/2, cfg.h/2);
	var Format = d3.format('');
	d3.select(id).select("svg").remove();

	var g = d3.select(id)
			.append("svg")
			.attr("width", cfg.w+cfg.ExtraWidthX)
			.attr("height", cfg.h+cfg.ExtraWidthY)
			.append("g")
			.attr("transform", "translate(" + cfg.TranslateX + "," + cfg.TranslateY + ")");
			;

	var tooltip;

	//Circular segments
	for(var j=0; j<cfg.levels-1; j++){
	  var levelFactor = cfg.factor*radius*((j+1)/cfg.levels);
	  g.selectAll(".levels")
	   .data(allAxis)
	   .enter()
	   .append("svg:line")
	   .attr("x1", function(d, i){return levelFactor*(1-cfg.factor*Math.sin(i*cfg.radians/total));})
	   .attr("y1", function(d, i){return levelFactor*(1-cfg.factor*Math.cos(i*cfg.radians/total));})
	   .attr("x2", function(d, i){return levelFactor*(1-cfg.factor*Math.sin((i+1)*cfg.radians/total));})
	   .attr("y2", function(d, i){return levelFactor*(1-cfg.factor*Math.cos((i+1)*cfg.radians/total));})
	   .attr("class", "line")
	   .style("stroke", "grey")
	   .style("stroke-opacity", "0.75")
	   .style("stroke-width", "0.3px")
	   .attr("transform", "translate(" + (cfg.w/2-levelFactor) + ", " + (cfg.h/2-levelFactor) + ")");
	}

	//Text indicating at what % each level is
	for(var j=0; j<cfg.levels; j++){
	  var levelFactor = cfg.factor*radius*((j+1)/cfg.levels);
	  g.selectAll(".levels")
	   .data([1]) //dummy data
	   .enter()
	   .append("svg:text")
	   .attr("x", function(d){return levelFactor*(1-cfg.factor*Math.sin(0));})
	   .attr("y", function(d){return levelFactor*(1-cfg.factor*Math.cos(0));})
	   .attr("class", "legend")
	   .style("font-family", "sans-serif")
	   .style("font-size", "12px")
	   .attr("transform", "translate(" + (cfg.w/2-levelFactor + cfg.ToRight) + ", " + (cfg.h/2-levelFactor) + ")")
	   .attr("fill", "#737373")
	   .text(Format(Math.round((j+1)*cfg.maxValue/cfg.levels)));
	}

	series = 0;

	var axis = g.selectAll(".axis")
			.data(allAxis)
			.enter()
			.append("g")
			.attr("class", "axis");

	axis.append("line")
		.attr("x1", cfg.w/2)
		.attr("y1", cfg.h/2)
		.attr("x2", function(d, i){return cfg.w/2*(1-cfg.factor*Math.sin(i*cfg.radians/total));})
		.attr("y2", function(d, i){return cfg.h/2*(1-cfg.factor*Math.cos(i*cfg.radians/total));})
		.attr("class", "line")
		.style("stroke", "grey")
		.style("stroke-width", "1px");

	axis.append("text")
		.attr("class", "legend")
		.text(function(d){return d})
		.style("font-family", "sans-serif")
		.style("font-size", "14px")
		.attr("text-anchor", "middle")
		.attr("dy", "1.5em")
		.attr("transform", function(d, i){return "translate(0, -10)"})
		.attr("x", function(d, i){return cfg.w/2*(1-cfg.factorLegend*Math.sin(i*cfg.radians/total))-60*Math.sin(i*cfg.radians/total);})
		.attr("y", function(d, i){return cfg.h/2*(1-Math.cos(i*cfg.radians/total))-20*Math.cos(i*cfg.radians/total);});


	d.forEach(function(y, x){
	  dataValues = [];
	  g.selectAll(".nodes")
		.data(y, function(j, i){
		  dataValues.push([
			cfg.w/2*(1-(parseFloat(Math.max(j.value, 0))/cfg.maxValue)*cfg.factor*Math.sin(i*cfg.radians/total)),
			cfg.h/2*(1-(parseFloat(Math.max(j.value, 0))/cfg.maxValue)*cfg.factor*Math.cos(i*cfg.radians/total))
		  ]);
		});
	  dataValues.push(dataValues[0]);
	  g.selectAll(".area")
					 .data([dataValues])
					 .enter()
					 .append("polygon")
					 .attr("class", "radar-chart-serie"+series)
					 .style("stroke-width", "2px")
					 .style("stroke", cfg.color(series))
					 .attr("points",function(d) {
						 var str="";
						 for(var pti=0;pti<d.length;pti++){
							 str=str+d[pti][0]+","+d[pti][1]+" ";
						 }
						 return str;
					  })
					 .style("fill", function(j, i){return cfg.color(series)})
					 .style("fill-opacity", cfg.opacityArea)
					 .on('mouseover', function (d){
										z = "polygon."+d3.select(this).attr("class");
										g.selectAll("polygon")
										 .transition(200)
										 .style("fill-opacity", 0.1);
										g.selectAll(z)
										 .transition(200)
										 .style("fill-opacity", .7);
									  })
					 .on('mouseout', function(){
										g.selectAll("polygon")
										 .transition(200)
										 .style("fill-opacity", cfg.opacityArea);
					 });
	  series++;
	});
	series=0;


	d.forEach(function(y, x){
	  g.selectAll(".nodes")
		.data(y).enter()
		.append("svg:circle")
		.attr("class", "radar-chart-serie"+series)
		.attr('r', cfg.radius)
		.attr("alt", function(j){return Math.max(j.value, 0)})
		.attr("cx", function(j, i){
		  dataValues.push([
			cfg.w/2*(1-(parseFloat(Math.max(j.value, 0))/cfg.maxValue)*cfg.factor*Math.sin(i*cfg.radians/total)),
			cfg.h/2*(1-(parseFloat(Math.max(j.value, 0))/cfg.maxValue)*cfg.factor*Math.cos(i*cfg.radians/total))
		]);
		return cfg.w/2*(1-(Math.max(j.value, 0)/cfg.maxValue)*cfg.factor*Math.sin(i*cfg.radians/total));
		})
		.attr("cy", function(j, i){
		  return cfg.h/2*(1-(Math.max(j.value, 0)/cfg.maxValue)*cfg.factor*Math.cos(i*cfg.radians/total));
		})
		.attr("data-id", function(j){return j.axis})
		.style("fill", cfg.color(series)).style("fill-opacity", .9)
		.on('mouseover', function (d){
					newX =  parseFloat(d3.select(this).attr('cx')) - 10;
					newY =  parseFloat(d3.select(this).attr('cy')) - 5;

					tooltip
						.attr('x', newX)
						.attr('y', newY)
						.text(Format(d.value))
						.transition(200)
						.style('opacity', 1);

					z = "polygon."+d3.select(this).attr("class");
					g.selectAll("polygon")
						.transition(200)
						.style("fill-opacity", 0.1);
					g.selectAll(z)
						.transition(200)
						.style("fill-opacity", .7);
				  })
		.on('mouseout', function(){
					tooltip
						.transition(200)
						.style('opacity', 0);
					g.selectAll("polygon")
						.transition(200)
						.style("fill-opacity", cfg.opacityArea);
				  })
		.append("svg:title")
		.text(function(j){return Math.max(j.value, 0)});

	  series++;
	});
	//Tooltip
	tooltip = g.append('text')
			   .style('opacity', 0)
			   .style('font-family', 'sans-serif')
			   .style('font-size', '15px');
  }
};
    </script>
</head>
<style>

.exTab3 .nav-pills > li > a {
  border-radius: 4px 4px 0 0 ;
}

.exTab3 .tab-content {
  padding : 5px 15px;
}

table {
  border-collapse: collapse;
  border: 2px black solid;
  font: 12px sans-serif;
}
td,th {
  border: 1px black solid;
  padding: 5px;
}

th {
  color: black;
  border-color: white;
}

#myUL {
  /* Remove default list styling */
  list-style-type: none;
  padding: 0;
  margin: 0;
}

#myUL li {
  border: 1px solid #ddd; /* Add a border to all links */
  margin-top: -1px; /* Prevent double borders */
  background-color: #f6f6f6; /* Grey background color */
  padding: 12px; /* Add some padding */
  text-decoration: none; /* Remove default text underline */
  font-size: 18px; /* Increase the font-size */
  color: black; /* Add a black text color */
  display: block; /* Make it into a block element to fill the whole list */
}

#myUL li :hover:not(.header) {
  background-color: #eee; /* Add a hover effect to all links, except for headers */
}

#submit-btn {
    background: #000000 0% 0% no-repeat padding-box;
    border-radius: 35px;
    opacity: 0.85;
    text-align: center;
    font: normal normal normal 18px/8px Proxima Nova;
    letter-spacing: 0px;
    color: #FFFFFF;
    opacity: 1;
}


</style>
<body style="overflow-x:hidden;">

<nav class="navbar navbar-inverse navbar-expand-sm">
  <!-- Brand/logo -->
    <a class="navbar-brand" href="{% url 'home' %}" style="position: relative;left: 18px;font-size: 25px;">Personality Insights</a>
</nav>

<div class="container-fluid" style="position: relative;top: 25px;">
    <h4 style="position: relative;left: 100px;font-size: 16px;">Tell us one of the most challenging situations/tasks that you have come across during your current or previous job and how did you handle it?</h4>
    <h5 style="position: relative;left: 100px;">(Describe in 400-500 words)</h5>
        <form class="form-inline" method="POST" enctype="multipart/form-data" style="">
            {% csrf_token %}
            <div class="form-group">
                <textarea class="form-control" name="input_text" id="exampleFormControlTextarea1" rows="5" style="position: relative;left: 100px;width: 700px;"></textarea><br>
            </div>
            <div class="form-group">
                <button class="btn btn-default" id="submit-btn" type="submit" style="position: relative;top: -3px;left:145px;">Submit</button>
            </div>
          </form>
        <br>
        <br>
</div>
    <div style="text-align: center;background-color: #FAFAFA;" class="row container-fluid">
        <h4>DISC Profile</h4>
        <div class="col-sm-6">
            <i class="pop-me-over icon-info-sign" data-toggle="popover" data-placement="auto"
                  style="position: relative;left: 254px;bottom: 27px"
                  data-content="Dominance

People who are high in “D” are extroverted and outgoing and task-oriented. They tend
to be direct, decisive, driven, and demanding. They typically have high conﬁdence, are
self-motivated, and are comfortable taking risks. They like to focus on the big picture,
not details. People who have high “D” are frequently found in leadership positions.

Inﬂuence

People who are high in “I” are extroverted and outgoing, and people-oriented. They
tend to be inspiring, impressionable, interactive, impressive, and involved. They are
typically vocal and animated. They like to engage others in conversation. Leaders who
have high “I” energize others and are usually popular because of their social skills and
charm.

Steadiness

People who are high in “S” are more introverted and reserved, and people-oriented.
They tend to be supportive, stable, sweet, and shy. They are typically calm, easy-going,
and collected people. They like giving support, collaborating, and maintaining stability.
When people who have high “S” are in leadership positions, they work hard to ensure
harmony and balance.

Conscientious

People who are high in “C” are more introverted and reserved, and task-oriented. They
tend to be cautious, calculating, competent, contemplative, and careful. They are
typically analytical, detail-oriented, and intentional. They value precision and have
inquisitive natures, often appearing critical by asking many questions. Leaders who have
high “C” expect everyone to follow their standards and make sure that everything is
working the way it should." data-title="DISC DEFINITIONS"></i>
            {{ df_1_html_str|safe }}
        </div>
        <div class="col-sm-6">
        <div id="body1">
            <div id="chart1"></div>
               <script>
                   const doc1 = new DOMParser().parseFromString("{{disc_assessment}}", "text/html");
                   RadarChart.draw("#chart1", doc1.documentElement.textContent);
               </script>
            </div>
        </div>
    </div>
    <br>

    <br>
    <div style="text-align: center;background-color: #FAFAFA;" class="row container-fluid">
        <h4>BIG FIVE Profile</h4>
        <div class="col-sm-6">
            <i class="pop-me-over icon-info-sign" data-toggle="popover" data-placement="auto"
                  style="position: relative;left: 236px;bottom: 27px"
                  data-content="Openness

This trait features characteristics such as imagination and insight. People who are high in
this trait also tend to have a broad range of interests. They are curious about the world
and other people and eager to learn new things and enjoy new experiences.

Conscientiousness

Standard features of this dimension include high levels of thoughtfulness, good impulse
control, and goal-directed behaviors. Highly conscientious people tend to be organized
and mindful of details. They plan ahead, think about how their behavior aﬀects others,
and are mindful of deadlines.

Extraversion

Extraversion is characterized by excitability, sociability, talkativeness, assertiveness, and
high amounts of emotional expressiveness. People who are high in extraversion are
outgoing and tend to gain energy in social situations. Being around other people helps
them feel energized and excited.

Agreeableness

This personality dimension includes attributes such as trust, altruism, kindness, aﬀection,
and other pro-social behaviors. People who are high in agreeableness tend to be more
cooperative while those low in this trait tend to be more competitive and sometimes
even manipulative.

Emotional Stability

Emotional Stability is a trait characterized by sadness, moodiness, and emotional
instability. Individuals who are high in this trait tend to experience mood swings, anxiety,
irritability, and sadness. Those low in this trait tend to be more stable and emotionally
resilient." data-title="BIG FIVE DEFINITIONS"></i>
        {{ df_3_html_str|safe }}
        </div>
        <div class="col-sm-6">
        <div id="body">
        <div id="chart"></div>
           <script>
               const doc = new DOMParser().parseFromString("{{ocean_assessment}}", "text/html");
               RadarChart.draw("#chart", doc.documentElement.textContent);
           </script>
        </div>
<!--        <script src="{% static 'Script.js'%}"></script>-->
        </div>
    </div>
    <br>
    <br>
    <div style="text-align: center;background-color: #FAFAFA;" class="row container-fluid">
        <div class="col-sm-1"></div>
        <div class="col-sm-10">
            <h4>Summary</h4>
            {{ df_2_html_str|safe }}
        </div>
        <div class="col-sm-1"></div>
    </div>
    <br>
    <br>
    <br>
</body>
</html>